.outer {
  background-color: #3459AE;
  position:fixed; 
  z-index:999; 
  top:0;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
}

.inner {
  width: 100%;
  text-align: center;
  color: #FFDF56;
}

body{
  background-color: #FFF4D6;
}

.card{
  background-color: #B9C2FE ;
  opacity: 0.8;
  width: 50vw;
  padding: 25px;
  box-shadow: 5px 5px 20px #00000090;
  color:#3B382F ;
  border-radius: 8px;
  margin: 10px;
  box-sizing: border-box;
}
.center{
  margin-top: 6vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.underright{
  text-align: right;
  padding:10px ;
}